body {
    text-align: center;
}

.sections {
    background: linear-gradient(#005288 40%, #A7A9AC 60%);
}
h1{
    font-family: Brush Script MT;
    font-size: 40px;
    
}
#personality{
    font-family: Copperplate;
    font-weight: 300;
}
h2{
    font-family: Courier New;
}

#pic1 {
    width: 150px;
    border-radius: 30%;
    margin-top: 50px;
}
#lifestory{
   text-align: center;
    
}
p{
    width: 800px;
    margin-left: 200px;
        
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
.menu{
    cursor: pointer;
    z-index: 5;
    position: fixed;
    top: 10px;
    right: 10px;
    padding-right: 40px;
}
.menuitems{
    float: right;
    padding-left: 20px;
    font-family: 'Anton', sans-serif;
    list-style-type: none;
    font-size: 20px;
}
.menuitems:hover{ 
    background-color:chartreuse; 
    font-size: 25px;
}
#contact{
    background-color: chocolate;
}
.contact_1 a{
 color: white;
    text-shadow: none;
}
#contact iframe{
    width: 100%;
}
.contact_1 h3{
    display: inline;
}
